<footer class="footer mt-5">
  <div class="row container">
    <div class="col-1 pt-5">
      <img src="https://res.cloudinary.com/ditaqjzkt/image/upload/v1558468154/4d6a9330-e3f2-4946-9e82-763fb5ac4f89_200x200_vokhnm.png" alt="logo" width="100%">
    </div>

    <div class="col p-5">
      <h3>About</h3>
      <h4>About us</h4>
      <h4>How it works</h4>
      <h4>Guarantee</h4>
      <h4>Terms of service</h4>
      <h4>FAQ</h4>
      <h4>Sitemap</h4>
    </div>


      <div class="col p-5">
        <h3>Account</h3>
        <h4>Log in</h4>
        <h4>Sign out</h4>
      </div>


      <div class="col p-5">
        <h3>Other bits</h3>
        <h4>Carrers</h4>
        <h4>Blog</h4>
        <h4>Press</h4>
        <h4>Privacy policy</h4>
        <h4>Contact us</h4>
        <h4>Leave feedback</h4>
      </div>

      <div class="col p-5">
        <h3>Follow us</h3>
        <h4><i class="fab fa-facebook"></i> Facebook</h4>
        <h4><i class="fab fa-twitter-square"></i> Twitter</h4>
        <h4><i class="fab fa-google-plus-square"></i> Google +</h4>
        <h4><i class="fab fa-instagram"></i> Instagram</h4>
      </div>
    </div>

</footer>
