<h1>Montreal outdoor sports good rental service</h1>

<div class="search-box">
<!-- empty for now -->
</div>

<h1>Featured items: </h1>

<div class="card-display">

   <% @posts.each do |item| %>
<div class="card">
<img src=<%= item.photos[0].source %> >

 <%= item.title %>
 <p> from <%= item.price %> a day <p>
  </div>
  <% end %>

</div>
