<%= render 'shared/navbar' %>
<div class="container">
  <h1>Search Results: </h1>
    <% @category.each do |item| %>
      <div class="featured-card">
        <img src= <%= item.photos[0].source %> >
        <div class="">
          <p> <%= item.title %> </p>
          <p> from $<%= item.price %> a day <p>
        </div>
      </div>
    <% end %>
</div>

