<h1>Search Results: </h1>
  <div class="card-container">
    <% @category.each do |item| %>
        <%= link_to post_path(item.id) do %>
    <%= render 'shared/feature_card', post: item %>
    <% end %>
        <% end %>
</div>
