<%= render 'shared/navbar_home' %>
  <div class="container mt-3">
  <h1>Search Results: </h1>
  <div class="cards">
    <% @category.each do |item| %>
        <%= link_to post_path(item.id) do %>
    <%= render 'shared/feature_card', post: item %>
    <% end %>
        <% end %>
</div>
</div>
