h5{
  padding-top: 18px;
  padding-left: 10px;
}


.height-300 {
height: 300px;
      width: 205px;
}

.card-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  flex-wrap: wrap;
  a{
  margin: 10px 18px;
  .display-img {
    width: 204px;
    height: 171px;
  }
  }
}

.index-footer {
  margin-top: 80px;
  padding: 50px 400px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  background-color: rgb(44, 203, 187);
  h3{
    font-weight: bold;
        font-size: 16px;
    font-family: Mabry-Black, Helvetica, Arial;
  }
  h4{
    font-size: 16px;
    font-family: Mabry-Medium, Helvetica, Arial;
  }
}
