.card-container {
  display: flex;
  justify-content: center;
}

.featured-card {
  margin: 0px 34px;
  img {
    width: 204px;
    height: 171px;
  }
}

.index-footer {
  margin-top: 80px;
  padding: 50px 400px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  background-color: rgb(44, 203, 187);
  h3{
    font-weight: bold;
        font-size: 16px;
    font-family: Mabry-Black, Helvetica, Arial;
  }
  h4{
    font-size: 16px;
    font-family: Mabry-Medium, Helvetica, Arial;
  }
}
