.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-transparent {

  background: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 77.6%);

  // background-color: transparent;
  // background-image: url("https://png.pngtree.com/png-vector/20190130/ourlarge/pngtree-literary-leaf-shading-shadingbackgroundtextureleaves-backgroundgreen-leaffresh-png-image_608380.jpg");
  // opacity: 0.7;
}
